@model Zagrean_Robert_project.Models.LibraryViewModels.PublisherIndexData
@{
    ViewData["Tip"] = "Distribuitori";
}
<h2>Distribuitori</h2>
<p>
    <a asp-action="Create">Adauga</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nume</th>
            <th>Adresa</th>
            <th>Suplimente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Publishers)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["PublisherID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>

                <td>
                    @{
                        foreach (var Suplimente in item.PublishedSuplements)
                        {
                            @Suplimente.Suplimente.ID @: @Suplimente.Suplimente.Tip <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Suplemets != null)
{
    <h3>Suplimente distribuite</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Tip</th>
            <th>Producator</th>
            <th>Pret</th>
        </tr>
        @foreach (var item in Model.Suplemets)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["SuplimenteID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { SuplimenteID = item.ID })
                </td>
                <td>
                    @item.Tip
                </td>
                <td>
                    @item.Producator
                </td>
                <td>
                    @item.Pret
                </td>
            </tr>
        }
    </table>
}
@if (Model.Comenzi != null)
{
    <h3>
        Clientii care au comandat suplimentul
    </h3>
    <table class="table">
        <tr>
            <th>Nume</th>
            <th>Data comanda</th>
        </tr>
        @foreach (var item in Model.Comenzi)
        {
            <tr>
                <td>
                    @item.Client.Nume
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataComanda)
                </td>
            </tr>
        }
    </table>
}